
$maroon:  #700f00;

*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  background: rgb(128, 128, 128) url(images/background.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.App {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-content: space-between;
}

.main {
  color: #444;
  background: url(images/paper.jpg);
  font-family: Palatino, serif;
  font-size: 17px;

  box-shadow: 0 0 20px rgba(0,0,0,0.7);
  margin: 50px auto;
  max-width: 550px;
  min-height: 300px;
  padding: 24px;
  position: relative;
  width: 700px;
  z-index: 0;
  text-align: center;

  &::before, &::after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  &::before {
    background: url(images/paper.jpg), rgba(0, 0, 0, .5);
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
  }
  &::after {
    background: url(images/paper.jpg), rgba(0, 0, 0, .9);
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
  }

  a, a:visited, a:link {
    color: $maroon;
  }

  a:hover, a:active {
    color: brown;
  }

  cite {
    padding-left: 4px;

    a {

      &::before {
        content: '[';
      }

      &::after {
        content: ']';
      }
    }
  }
}

.nav {
  max-width: 800px;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    margin-bottom: 0;
  }

  li {
    cursor: pointer;
    user-select: none;
    font-family: Palatino, serif;
    font-variant: small-caps;
    text-align: center;
    color: #efefef;
    font-size: larger;
    font-weight: 200;
    margin-bottom: 0;

    background-color: #333;
    border-radius: 50% 50% 0 0/30% 30% 0 0;

    box-shadow: -1px -1px #262626,
                -2px -2px #262626,
                -3px -3px #262626,
                -4px -4px #262626,
                -6px -6px #262626,
                -7px -7px #262626;


    padding: 2em 1.5em 1.5em;

    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    float: left;
    text-decoration: none;
    width: 120px;
    box-sizing: content-box;

    display: flex;
    flex-flow: column;
    justify-content: space-around;

    &:hover {
      transition: background 0.1s;
    }

    &.current, &:hover {
      background: linear-gradient(to bottom, #4c4c4c 10%, #323232);
    }
  }

  span {
    display: block;
  }

  svg {
    padding: 5px;
    width: 70px !important;
    height: 70px !important;

    > path {
      fill: transparent;
    }

    g path {
      fill: #fff;
    }
  }
}

h1 {
  font-family: Trattatello, cursive;
  font-size: 35px;
  margin-bottom: 0;
}

